body{
  background-image: url(./globe-background.jpg);
}

p {
  text-align: center;
}

.box {
  background-color: deepskyblue;
  width: 500px;
  margin-left: 30%;
  margin-top: 130px;
  opacity: 0.8;
}

select {
text-align: center;
}

