body{
  background-image: url(./globe-background.jpg);
  text-align: center;
}


.box {
  background-color: deepskyblue;
  width: 300px;
  opacity: 0.8;
}

select {
text-align: center;
background-color: gold;
display: inline-block;
font-size: 20px;
margin-bottom: 20px;
}

#map {
  width: 600px;
  height: 600px;
  margin-left: 25%;
  position: static;
}

#button {
  float: left;
  height: 80px;
  width: 80px;
  border-radius: 25px;
  font-size: 16px;
  margin-left: 30px;
  margin-top: 30px;
  background-color: deepskyblue;
  text-shadow: 2px 1px white;
  color: black;
}

#button:hover {
  background-color: darkblue;
  color: white;
  text-shadow: 2px 1px black;
}


